  <div class="ele-fomr">
      <label for="nameChef">Nome</label>
      <input
      type="text"
       name="nameChef" 
       value="{{chef.name}}" 
       id="nameChef"/>
    </div> 

    <div class="ele-fomr">
      <label for="avatar_url">Avatar</label>
      <input
      type="text"
       name="avatar_url" 
       value="{{chef.avatar_url}}" 
       id="avatar_url"/>
    </div> 