{% extends "layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}
    <section>
       <div class="sect-content">
        {% for dado in dados %}

            <article class="articles-index" id="{{dado.id}}">
                <img src="{{dado.image}}" alt="{{dado.title}}">
                <p>{{dado.title}}</p>
                <legend>{{dado.author}}</legend>
            </article>
        {% endfor %}

        {% for dado in dados %}
            <article class="articles-index">
                <img src="{{dado.image}}" alt="{{dado.title}}">
                <p>{{dado.title}}</p>
                <legend>{{dado.author}}</legend>
            </article>
        {% endfor %}
        </div>
    </section>
{% endblock %}


    

    


