{% extends "layout.njk" %}

{% block head %}
    <title>{{receita.title}} - Foodfy</title>
{% endblock %}

{% block content %}
     <section>
        <div class="header-receita">
            <img src="{{receita.image}}" alt="{{receita.title}}">
            <h1>{{receita.title}}</h1>
            <p>{{receita.author}}</p>
        </div>

        <div class="ingredientes-receita">
            <div>
                <h2>Ingredientes</h2>
                <p>ESCONDER</p>
            </div>
            <ul>
                {% for  %}
            </ul>
        </div>

        {# <div class="preparo-receita">
            <div>
                <h2></h2>
                <p></p>
            </div>
            <p></p>
        </div>

        <div class="informacoes-receita">
            <div>
                <h2></h2>
                <p></p>
            </div>
            <p></p>
        </div>  #}

    </section>
{% endblock %}


    

    


