{% extends "layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block body %}
{% endblock %}

{% block content %}
    <section>
       <div class="sect-content">
        {% for dado in dados.recipes %}
            <a class="st-receita" href="receita/{{dado.id}}">
                <article class="articles-index" id="{{dado.id}}">
                    <img src="{{dado.imgRecipe }}" alt="{{dado.title}}">
                    <p>{{dado.title}}</p>
                    <legend>{{dado.author}}</legend>
                </article>
            </a>
        {% endfor %}

        {% for dado in dados %}

           <a class="st-receita" href="receita/{{dado.id}}">
                <article class="articles-index" id="{{dado.id}}">
                    <img src="{{dado.image2 }}" alt="{{dado.title}}">
                    <p>{{dado.title}}</p>
                    <legend>{{dado.author}}</legend>
                </article>
            </a>
        {% endfor %}
        </div>
    </section>
{% endblock %}


    

    


