{% extends "layout.njk" %}

{% block head %}
    <title>{{receita.title}} - Foodfy</title>
    <link rel="stylesheet" href="style-receita.css">
{% endblock %}

{% block content %}
     <section>
        <div class="header-receita espacamento-divs">
            <img src="{{receita.image2}}" alt="{{receita.title}}">
            <h1>{{receita.title}}</h1>
            <p>{{receita.author}}</p>
        </div>

        <div>
            <div class="title-btn">
                <h2>Ingredientes</h2>
                <p class="btn-esconder">ESCONDER</p>
            </div>
            <ul class="ul-ingredientes">
                {% for ingredient in receita.ingredients %}
                <li>{{ingredient}}</li>
                {% endfor %}
            </ul>
        </div>
            
       <div class="preparo-receita espacamento-divs">
            <div class="title-btn">
                <h2>Modo de preparo</h2>
                <p class="btn-esconder">MOSTRAR</p>
            </div>
            {% for preparo in receita.preparation %}
            <p class="paragrafo">{{preparo}}</p>
            {% endfor %}
        </div>

        <div class="informacoes-receita">
            <div class="title-btn">
                <h2>Informações adicionais</h2>
                <p class="btn-esconder">ESCONDER</p>
            </div>
            <p class="paragrafo">{{receita.information}}</p>
        </div>  

    </section>
{% endblock %}


    

    


