<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock head %}
    <link rel="stylesheet" href="/adm-index.css">
    <link rel="stylesheet" href="/style2.css">
     <link rel="stylesheet" href="/adm-index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

{% block body %}

{% endblock %}
<body id="admin-body" class="container2">

<header class="admin-header">
    <a href="/admin/recipes"><h1 class="admin-h1">Foodfy</h1></a>
    <nav class="menu-principal">
        <ul class="links">
            <li><a href="/admin/recipes">Receitas</a></li>
            <li><a href="/admin/chefs">Chefs</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    {% block content %}

    {% endblock %}

</div>

    <script src="/scripts.js"></script>
</body>
</html>