@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100vh;
}

.container{
    min-height: 100vh;
    width: 65%;
    margin: 0 auto;
}


/* header */
header{
    display: grid;
    grid-template-columns: 130px 1fr 300px;
    margin-top: 31px;
    align-items: center;
}

header a{
    text-decoration: none;
    color: #111;
}

header li{
    list-style: none;
    margin-left: 30px;
}

header ul{
    display: flex;
}

body#todos header h1{
    background: url('./assets/logo.png')  no-repeat;
    text-indent: -9999px;
    text-align: center;
}

/*filtro - site/layout */
header .filterSite form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
}

header .filterSite form{
    display: grid;
    grid-template-columns: 2fr 50px;
    grid-gap: 8px;
    justify-items: end;
}

header .filterSite form input{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
}

header .filterSite form button{
    width: 50px;
    padding: 4px;
    border: none;
    background-color: #6558C3;
    font-size: 14px;
    color: white;
    border-radius: 4px;
}

/* main */
.main-principal{
    background: #fbdfdb;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin-top: 30px;
    height: 366px;
}

.main-content{
    width: 300px;
    margin-left: 60px;
}

.main-principal img{
    align-self: flex-end;
}



.main-content p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
    color: #000;
}


.main-sobre h3{
    margin: 30px 0 20px;
}

.main-sobre h2{
    margin: 50px 0 20px;
}

.main-sobre p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}


/* section */
section{
    margin-top: 50px;
}

.sect-content{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.sect-content .articles-index img{
    width: 100%;
    border-radius: 15px;

}

article p{
    margin: 20px 0 5px;
    font-size: 18px;
}

article legend{
    font-size: 14px;
    color: #777;
}

.sect-content article img{
    cursor: pointer;
}

/* footer */
footer{
    padding: 20px;
    background: #eee;
    margin-top: 50px;
    font-size: 14px;
    color: #999;
    text-align: center;
}

/*links - receita ir pra show*/
.st-receita{
    text-decoration: none;
    color: #000;
}
/*pg ativa*/
.active{
    font-weight: bold;
}

/*SITE/CHEFS estilizacao*/
.sectionChefs{
 display: grid;
 grid-template-columns: repeat(4, 1fr);  
 grid-gap: 30px; 
}

.sectionChefs article{
    display: flex;
    padding: 8px;
   
}

.sectionChefs article img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.sectionChefs article .infoChef{
    margin: 0 0 0 15px;
}

.sectionChefs article .infoChef p,
.sectionChefs article .infoChef legend{
    margin: 0;
    padding: 2px;
}


