{% extends "admin/layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
    <link rel="stylesheet" href="/adm-index.css">
{% endblock %}

{% block body %}
<body id="body-receitas">
{% endblock %}

{% block content %}
    <section>
        <h2>Gerenciar receitas</h2>
       <div class="sect-content-adm">
        {% for dado in recipes %}
                <article class="articles-index" id="{{dado.id}}">
                    <img src="{{dado.image }}" alt="{{dado.title}}">
                    <div class="props-articles">
                        <p>{{dado.title}}</p>
                        <legend class="espaca" >ODAILSON autor</legend>
                        <a href="/admin/recipes/{{dado.id}}">Visualizar</a>
                    </div>
                </article>
            </a>
        {% endfor %}
        </div>
    </section>
{% endblock %}


    

    


