{% extends "admin/layout.njk" %}

{% block head %}
    <title>{{receita.title}} - Foodfy</title>
    <link rel="stylesheet" href="/style-receita.css">
{% endblock %}

{% block content %}
     <section>
        <div class="header-btn">
            <h2>Receita:{{recipe.title}}</h2>
            <a href="/admin/recipes/{{recipe.id}}/edit">Editar</a>
        </div>
        <div class="header-receita espacamento-divs">
            <img src="{{recipe.image}}" alt="{{recipe.title}}">
            <h1>{{recipe.title}}</h1>
            <p>{{recipe.author}}</p>
        </div>

        <div>
            <div class="title-btn">
                <h2>Ingredientes</h2>
            </div>
            <ul class="ul-ingredientes alt" id="ing" >
                {% for ingredient in recipe.ingredients %}
                <li>{{ingredient}}</li>
                {% endfor %}
            </ul>
        </div>
            
       <div class="preparo-receita espacamento-divs">
            <div class="title-btn">
                <h2>Modo de preparo</h2>
            </div>
            <div  id="prep" class="alt">
            {% for preparo in recipe.preparation%}
                <p class="paragrafo">{{preparo}}</p>        
            {% endfor %}
            </div>
        </div>

        <div class="informacoes-receita">
            <div class="title-btn">
                <h2>Informações adicionais</h2>
            </div>
            <div class="alt" id="inf"> 
                <p class="paragrafo">{{recipe.information}}</p>
            </div>
        </div>  

    </section>
{% endblock %}


    

    


